{{ define "main" }}
<main id="primary-content">
  <article id="splash">
    <ul>
      <li><img alt="" src="/images/bg/splash_01.jpg" /></li>
      <li><img alt="" src="/images/bg/splash_02.jpg" /></li>
      <li><img alt="" src="/images/bg/splash_03.jpg" /></li>
      <li><img alt="" src="/images/bg/splash_04.jpg" /></li>
    </ul>
  </article>
  <article id="blurb">
    <h3>A garden is a thing of beauty, a place to reflect and unwind. It can  also be a source of immense pleasure.</h3>
    <p><strong>Lifestyle Garden Maintenance</strong> can help you create your own oasis with skills and knowledge amassed over many years. We'll guide you and create the garden of your dreams.</p>
    <p>
      LGM are specialists in services for your <a href="/home-services/">home</a>, <a href="/commercial/">commercial properties</a>, <a href="/rentals/">rental properties</a>, and <a href="/investment-properties/">investment properties</a>.
      <br>Contact us today for a quote and see how competitive we can be.
    </p>
    <p><strong><em>Give your garden some style!</em></strong></p>
  </article>
</main>
<section id="secondary-content">
  <article id="tips">
    <h4><a href="/garden-tips">Garden Tips</a></h4>
    <p>With Autumn here there is lots to do in your garden to take advantage of our changing seasons.</p>
    <ul>
      <li>Seasonal pruning of roses and dying flowers</li>
      <li>Gutter cleaning </li>
      <li>Trim your hedges </li>
      <li>Mulch your garden beds so they retain moisture around the thirsty root systems</li>
    </ul>
  </article>
  <article id="gallery">
    <h3><a href="/gallery/" title="Photos of work">Gallery of Work</a></h3>
  </article>
  <article id="testimonials">
    <h3><a href="/testimonials/" title="What clients think">Testimonials</a></h3>
  </article>
  <article class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KEfwz2-TJ3c?rel=0&autohide=1" allowfullscreen></iframe>
  </article>
  <article id="logo">
    <p><a href="/"><img src="/images/identity/logo.png" alt="LMG" /></a></p>
  </article>
</section>
{{ end }}
