<header id="main-heading">
  <h1 class="ir">
    {{ .Site.Title }} 0409 586 625
    <a href="/contact">Get a quote today</a>
  </h1>
  <a href="{{ .Site.BaseURL }}"></a>
  {{ with .Site.Menus.main }}
    <nav id="main-heading-nav">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-heading-nav>div" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">&#9776; MENU</button>
      <div>
        <ul>
          <li><a href="/">Home</a></li>
          {{ range . }}
          <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </div>
    </nav>
  {{ end }}
</header>
